@import "tailwindcss";

@theme {
  --color-light: #ebefec;
  --color-normal: #3a5a40;
  --color-dark: #2c4430;
  --color-ourwhite: #fafafa;
  --color-ourblack: #101010;
}

body {
  font-family: var(--font-poppins);
}

.mycontainer {
  @apply container mx-auto lg:px-12 md:px-32 px-8  xl:px-24;
}
