@import "tailwindcss";

@theme {
  --color-light: #ebefec;
  --color-normal: #3a5a40;
  --color-dark: #2c4430;
  --color-ourwhite: #fafafa;
  --color-ourblack: #101010;
}

body {
  font-family: var(--font-poppins);
}

.mycontainer {
  @apply container mx-auto lg:px-12 md:px-32 px-8  xl:px-24;
}

.bghero {
  background-image: url("../assets/img/herobg.png");
  @apply bg-cover bg-center bg-no-repeat;
}
.aboutus {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../assets/img/aboutusbg.png");
  @apply bg-[length:10rem] bg-repeat;
}

.joinus {
  background-image: url("../assets/img/joinus.png");
  @apply bg-cover bg-center bg-no-repeat;
}
